.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

build/
bin/
obj/
out/
target/
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.gch
*.pch
*.ilk
*.suo
*.pdb
*.idb
*.exp
*.exe
*.app
*.i
*.s
*.bc

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
*.cmake
!.gitkeep

.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.sln.docstates
*.opensdf
*.sdf
*.tlog

.vscode/
*.code-workspace
.idea/
*.swp
*.swo
*.swn
*.njsproj

*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.egg-info/
*.egg
.eggs/
dist/
venv/
env/
.env/
venv*/
env*/

compile_commands.json
.cache/
.clang-format
.clangd

*.json
!model
*.model
*.xgb
*.lgb
*.txt
*.csv
*.tsv
*.dat
*.out
*.log
*.log.*
*.pid
*.bin

test_lignum
!CMakeLists.txt
!inst/tinytest/*.json
!inst/tinytest/*.csv
!py_package/tests/*.json
!py_package/tests/*.csv